[submodule "nvim"]
	path = nvim
	url = https://github.com/Eshoej/nvim
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/Eshoej/alacritty
[submodule "zellij"]
	path = zellij
	url = https://github.com/Eshoej/.config_zellij
[submodule "aerospace/.config"]
	path = aerospace/.config
	url = https://github.com/Eshoej/.config-aerospace
