[submodule "nvim"]
	path = nvim
	url = https://github.com/Eshoej/nvim
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/Eshoej/alacritty
[submodule "zellij"]
	path = zellij
	url = https://github.com/Eshoej/.config_zellij
[submodule "aerospace/.config"]
	path = aerospace/.config
	url = https://github.com/Eshoej/.config-aerospace
[submodule "aerospace/.config/aerospace"]
	path = aerospace/.config/aerospace
	url = https://github.com/Eshoej/.config-aerospace
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/Eshoej/.config-nvim
[submodule "nvim/.config/alacritty"]
	path = nvim/.config/alacritty
	url = https://github.com/Eshoej/.config-alacritty
[submodule "alacritty/.config/alacritty"]
	path = alacritty/.config/alacritty
	url = https://github.com/Eshoej/.config-alacritty
